#google-login-button {
  min-height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  background-color: white;
  cursor: pointer;
}

#google-logo {
  height: 1.5rem;
}

#login-card {
  display: flex;
  border: 1px gray solid;
  margin: auto;
  max-width: 20rem;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

#login-heading {
  text-align: center;
}
