#error-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6f2fe;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
}