#create-post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  align-self: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}

#create-post-title {
  text-align: center;
}

#file-input-button {
  display: none;
}

#create-post-textarea {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  min-height: 6rem;
}

#add-files-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
}

#create-post-button {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  height: 2rem;
}

#attachment-section {
  background-color: white;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#file-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#file-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: smaller;
}

#no-attachments-text {
  font-size: 0.75rem;
  line-height: 1rem;
}