#create-post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-self: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}

#create-post-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#create-post-title {
  text-align: center;
}

#file-input-button {
  display: none;
}

#create-post-textarea {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  min-height: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: rgb(245, 245, 245);
}

#add-files-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  background-color: rgb(245, 245, 245);
  border-radius: 1rem;
}

#add-files-button:hover {
  background-color: rgb(230, 230, 230);
}

#create-post-button {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  height: 2rem;
}

#attachment-section {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 1rem;
}

#file-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#no-attachments-text {
  font-size: 0.75rem;
  line-height: 1rem;
}

#file-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.preview {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 20rem;
}

.preview-file {
  display: block;
  max-width: 100%;
  max-height: 20rem;
  width: auto;
  height: auto;
  object-fit: contain;
}

#remove-attachment-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background: rgba(255, 185, 185, 0.8);
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#remove-attachment-btn:hover {
  background: #cc7373;
}
