.button {
    cursor: pointer;
    background-color: white;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.fancy-font {
    font-family: 'Monotype Corsiva', sans-serif;
}