#search-container {
  height: 100%;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

#search-section {
  position: relative;
  gap: 0.5rem;
}

#search-box {
  padding: 0.75rem;
  padding-right: 2rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 1rem;
  background-color: #e6f2fe !important;
  outline: none;
  border: none;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);
}

#search-box:focus {
  outline: none;
}

#search-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#search-button {
  cursor: pointer;
}